@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-vocals button {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
  margin: 1rem;
  color: rgba(255, 255, 255, 0.4);
}

.primary-vocals .syllable::after {
  content: "";
  margin-right: 0.3ch;
}

.primary-vocals .current .syllable {
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.8) var(--gradient-progress),
    rgba(255, 255, 255, 0.4) var(--gradient-progress)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
